In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('https://www.football-data.co.uk/mmz4281/2526/E0.csv')

# 1.Full Table
target website: 'https://www.football-data.co.uk/mmz4281/2526/E0.csv'

In [20]:
df

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,E0,09/11/2025,14:00,Aston Villa,Bournemouth,4,0,H,2,0,...,2.00,1.85,2.05,1.88,2.00,1.85,1.95,1.83,2.09,1.91
106,E0,09/11/2025,14:00,Brentford,Newcastle,3,1,H,0,1,...,2.05,1.80,2.14,1.81,2.05,1.83,2.02,1.76,2.19,1.83
107,E0,09/11/2025,14:00,Crystal Palace,Brighton,0,0,D,0,0,...,2.05,1.80,2.10,1.84,2.05,1.80,2.01,1.77,2.12,1.88
108,E0,09/11/2025,14:00,Nott'm Forest,Leeds,3,1,H,1,1,...,1.88,1.98,1.91,2.02,1.92,1.98,1.87,1.90,1.97,2.01
109,E0,09/11/2025,16:30,Man City,Liverpool,3,0,H,2,0,...,1.83,2.03,1.94,1.98,1.93,2.03,1.86,1.91,1.94,2.05

#  Rename

In [8]:
df.rename(columns={'FTHG': 'home_goals', 'FTAG': 'away_goals'}, inplace=True)

In [8]:
df

,Div,Date,Time,HomeTeam,AwayTeam,home_goals,away_goals,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,E0,09/11/2025,14:00,Aston Villa,Bournemouth,4,0,H,2,0,...,2.00,1.85,2.05,1.88,2.00,1.85,1.95,1.83,2.09,1.91
106,E0,09/11/2025,14:00,Brentford,Newcastle,3,1,H,0,1,...,2.05,1.80,2.14,1.81,2.05,1.83,2.02,1.76,2.19,1.83
107,E0,09/11/2025,14:00,Crystal Palace,Brighton,0,0,D,0,0,...,2.05,1.80,2.10,1.84,2.05,1.80,2.01,1.77,2.12,1.88
108,E0,09/11/2025,14:00,Nott'm Forest,Leeds,3,1,H,1,1,...,1.88,1.98,1.91,2.02,1.92,1.98,1.87,1.90,1.97,2.01
109,E0,09/11/2025,16:30,Man City,Liverpool,3,0,H,2,0,...,1.83,2.03,1.94,1.98,1.93,2.03,1.86,1.91,1.94,2.05

# Read .csv from Multiple URLs with Pandas

- https://www.football-data.co.uk/mmz4281/2526/E0.csv
- https://www.football-data.co.uk/mmz4281/2526/E1.csv

**Link: root+season+league**

In [9]:
# link structure
"https://www.football-data.co.uk/mmz4281/" + "2526" + "/" + "E0" + ".csv"

'https://www.football-data.co.uk/mmz4281/2526/E0.csv'

In [10]:
# create a root variable
root = "https://www.football-data.co.uk/mmz4281/"

# 2.1 Multiple Leagues

- https://www.football-data.co.uk/mmz4281/2526/E0.csv
- https://www.football-data.co.uk/mmz4281/2526/E1.csv
- https://www.football-data.co.uk/mmz4281/2526/E2.csv
- https://www.football-data.co.uk/mmz4281/2526/E3.csv
- https://www.football-data.co.uk/mmz4281/2526/EC.csv

In [22]:
# creating list of leagues
leagues = ['E0', 'E1', 'E2', 'E3', 'EC']
frames = []

# looping through list
for league in leagues:
    df = pd.read_csv(root + '2526' + '/' + league + '.csv')
    frames.append(df)
    display(df)

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,E0,09/11/2025,14:00,Aston Villa,Bournemouth,4,0,H,2,0,...,2.00,1.85,2.05,1.88,2.00,1.85,1.95,1.83,2.09,1.91
106,E0,09/11/2025,14:00,Brentford,Newcastle,3,1,H,0,1,...,2.05,1.80,2.14,1.81,2.05,1.83,2.02,1.76,2.19,1.83
107,E0,09/11/2025,14:00,Crystal Palace,Brighton,0,0,D,0,0,...,2.05,1.80,2.10,1.84,2.05,1.80,2.01,1.77,2.12,1.88
108,E0,09/11/2025,14:00,Nott'm Forest,Leeds,3,1,H,1,1,...,1.88,1.98,1.91,2.02,1.92,1.98,1.87,1.90,1.97,2.01
109,E0,09/11/2025,16:30,Man City,Liverpool,3,0,H,2,0,...,1.83,2.03,1.94,1.98,1.93,2.03,1.86,1.91,1.94,2.05

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E1,08/08/2025,20:00,Birmingham,Ipswich,1,1,D,0,0,...,1.88,1.98,1.81,2.12,1.88,1.98,1.81,1.94,1.90,2.10
1,E1,09/08/2025,12:30,Charlton,Watford,1,0,H,0,0,...,1.95,1.90,1.95,1.95,1.95,1.90,1.86,1.83,2.03,1.95
2,E1,09/08/2025,12:30,Coventry,Hull,0,0,D,0,0,...,1.88,1.98,1.95,1.95,1.91,1.98,1.87,1.82,1.97,2.01
3,E1,09/08/2025,12:30,Southampton,Wrexham,2,1,H,0,1,...,1.90,1.95,1.75,2.18,1.90,1.95,1.84,1.91,1.92,2.07
4,E1,09/08/2025,15:00,Middlesbrough,Swansea,1,0,H,0,0,...,2.05,1.75,2.00,1.91,2.05,1.82,2.00,1.76,2.16,1.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,E1,08/11/2025,15:00,Southampton,Sheffield Weds,3,1,H,2,1,...,2.03,1.83,NaN,NaN,2.04,1.84,2.00,1.78,2.05,1.90
175,E1,08/11/2025,15:00,Stoke,Coventry,0,1,A,0,0,...,1.83,2.03,NaN,NaN,1.86,2.03,1.83,1.89,1.89,2.11
176,E1,08/11/2025,15:00,Swansea,Ipswich,1,4,A,0,1,...,2.03,1.83,NaN,NaN,2.03,1.87,1.96,1.76,2.08,1.89
177,E1,08/11/2025,15:00,West Brom,Oxford,2,1,H,0,0,...,1.95,1.90,NaN,NaN,1.95,1.96,1.88,1.90,2.02,1.94
178,E1,08/11/2025,15:00,Wrexham,Charlton,1,0,H,0,0,...,1.88,1.98,NaN,NaN,1.89,1.98,1.85,1.92,1.92,2.06

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E2,01/08/2025,20:00,Luton,AFC Wimbledon,1,0,H,0,0,...,1.93,1.93,1.93,1.95,1.98,1.93,1.91,1.82,1.94,2.01
1,E2,02/08/2025,12:30,Cardiff,Peterboro,2,1,H,0,1,...,1.85,2.00,1.87,2.03,1.90,2.00,1.85,1.88,1.93,2.04
2,E2,02/08/2025,15:00,Blackpool,Stevenage,2,3,A,1,2,...,1.93,1.93,1.94,1.94,1.94,1.93,1.84,1.87,1.94,2.04
3,E2,02/08/2025,15:00,Bradford,Wycombe,2,1,H,2,0,...,1.73,2.08,1.90,1.99,1.77,2.20,1.72,2.02,1.80,2.22
4,E2,02/08/2025,15:00,Burton,Mansfield,2,1,H,1,0,...,2.00,1.85,1.69,2.26,2.00,1.85,1.93,1.79,2.04,1.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,E2,15/11/2025,15:00,Burton,Blackpool,1,0,H,0,0,...,1.93,1.93,NaN,NaN,1.93,1.93,1.90,1.81,2.04,1.94
177,E2,15/11/2025,15:00,Leyton Orient,Exeter,2,1,H,0,1,...,1.98,1.88,NaN,NaN,1.98,1.88,1.88,1.84,2.12,1.85
178,E2,15/11/2025,15:00,Lincoln,Doncaster,2,1,H,1,0,...,2.00,1.85,NaN,NaN,2.00,1.85,1.91,1.81,2.08,1.91
179,E2,15/11/2025,15:00,Luton,Rotherham,0,0,D,0,0,...,1.88,1.98,NaN,NaN,1.88,1.98,1.82,1.91,1.88,2.05
180,E2,15/11/2025,15:00,Port Vale,Wycombe,0,0,D,0,0,...,2.03,1.83,NaN,NaN,2.03,1.83,1.92,1.79,2.05,1.93

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E3,02/08/2025,15:00,Accrington,Gillingham,1,1,D,0,0,...,1.98,1.88,1.76,2.12,1.98,1.88,1.92,1.83,2.09,1.88
1,E3,02/08/2025,15:00,Barnet,Fleetwood Town,0,2,A,0,1,...,2.00,1.85,2.29,1.65,2.08,1.85,2.00,1.74,2.04,1.93
2,E3,02/08/2025,15:00,Bristol Rvs,Harrogate,0,1,A,0,0,...,1.83,2.03,1.85,2.00,1.85,2.03,1.78,1.96,1.88,2.12
3,E3,02/08/2025,15:00,Cambridge,Cheltenham,1,0,H,0,0,...,1.98,1.88,1.88,1.97,1.98,1.88,1.90,1.83,1.98,2.00
4,E3,02/08/2025,15:00,Chesterfield,Barrow,1,0,H,1,0,...,1.78,2.03,1.79,2.06,1.80,2.07,1.73,2.02,1.87,2.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,E3,15/11/2025,15:00,Oldham,Crewe,0,0,D,0,0,...,2.03,1.83,NaN,NaN,2.03,1.83,1.97,1.76,2.22,1.80
188,E3,15/11/2025,15:00,Shrewsbury,Newport County,1,0,H,0,0,...,1.90,1.95,NaN,NaN,1.90,1.95,1.83,1.89,1.90,2.08
189,E3,15/11/2025,15:00,Tranmere,Cheltenham,3,2,H,2,1,...,2.03,1.83,NaN,NaN,2.03,1.90,1.90,1.83,2.11,1.86
190,E3,15/11/2025,15:00,Walsall,Colchester,0,2,A,0,2,...,2.03,1.83,NaN,NaN,2.03,1.89,1.88,1.83,2.04,1.93
191,E3,15/11/2025,17:30,Gillingham,Crawley Town,2,2,D,1,0,...,2.03,1.83,NaN,NaN,2.03,1.89,1.91,1.81,2.08,1.92

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,EC,09/08/2025,15:00,Altrincham,Aldershot,3,2,H,2,0,...,1.90,1.90,1.92,1.93,1.90,1.90,1.86,1.84,2.00,1.99
1,EC,09/08/2025,15:00,Boreham Wood,Rochdale,0,2,A,0,0,...,2.00,1.80,2.05,1.82,2.02,1.80,1.96,1.75,2.06,1.89
2,EC,09/08/2025,15:00,Brackley Town,Eastleigh,1,0,H,1,0,...,2.00,1.80,2.14,1.72,2.03,1.80,1.96,1.75,2.06,1.84
3,EC,09/08/2025,15:00,Braintree Town,Halifax,3,0,H,2,0,...,1.93,1.88,1.97,1.88,1.93,1.88,1.88,1.82,1.97,1.98
4,EC,09/08/2025,15:00,Gateshead,Southend,0,3,A,0,1,...,1.83,1.98,1.67,2.19,1.83,2.04,1.75,1.96,1.84,2.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221,EC,15/11/2025,15:03,Sutton,Halifax,2,0,H,2,0,...,1.88,1.93,NaN,NaN,1.90,1.93,1.85,1.85,1.98,1.98
222,EC,15/11/2025,15:03,Woking,Boston Utd,1,1,D,1,0,...,2.03,1.78,NaN,NaN,2.03,1.80,1.95,1.75,2.04,1.90
223,EC,15/11/2025,15:03,Yeovil,Southend,0,1,A,0,0,...,2.03,1.78,NaN,NaN,2.03,1.78,1.94,1.76,2.15,1.84
224,EC,15/11/2025,15:03,York,Morecambe,4,2,H,1,1,...,1.80,2.00,NaN,NaN,1.80,2.00,1.77,1.94,1.80,2.08
225,EC,18/11/2025,19:45,Morecambe,Brackley Town,2,0,H,1,0,...,2.00,1.80,NaN,NaN,2.00,1.80,1.96,1.74,2.10,1.84

In [21]:
# showing elements
frames[0]

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,E0,09/11/2025,14:00,Aston Villa,Bournemouth,4,0,H,2,0,...,2.00,1.85,2.05,1.88,2.00,1.85,1.95,1.83,2.09,1.91
106,E0,09/11/2025,14:00,Brentford,Newcastle,3,1,H,0,1,...,2.05,1.80,2.14,1.81,2.05,1.83,2.02,1.76,2.19,1.83
107,E0,09/11/2025,14:00,Crystal Palace,Brighton,0,0,D,0,0,...,2.05,1.80,2.10,1.84,2.05,1.80,2.01,1.77,2.12,1.88
108,E0,09/11/2025,14:00,Nott'm Forest,Leeds,3,1,H,1,1,...,1.88,1.98,1.91,2.02,1.92,1.98,1.87,1.90,1.97,2.01
109,E0,09/11/2025,16:30,Man City,Liverpool,3,0,H,2,0,...,1.83,2.03,1.94,1.98,1.93,2.03,1.86,1.91,1.94,2.05

# 2.2 Multiple Seasons

In [39]:
# creating list of leagues
leagues = ['E0', 'E1', 'E2']
frames = []

# looping through list
for league in leagues:
    for season in range(15, 21):
        df = pd.read_csv(root + str(season) + str(season + 1) + '/' + league + '.csv')
        df.insert(1, 'season', season)
        frames.append(df)
        display(df)

,Div,season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,15,08/08/2015,Bournemouth,Aston Villa,0,1,A,0,0,...,1.79,26,-0.50,1.98,1.93,1.99,1.92,1.82,3.88,4.70
1,E0,15,08/08/2015,Chelsea,Swansea,2,2,D,2,1,...,1.99,27,-1.50,2.24,2.16,1.80,1.73,1.37,5.04,10.88
2,E0,15,08/08/2015,Everton,Watford,2,2,D,0,1,...,1.96,26,-1.00,2.28,2.18,1.76,1.71,1.75,3.76,5.44
3,E0,15,08/08/2015,Leicester,Sunderland,4,2,H,3,0,...,1.67,26,-0.50,2.00,1.95,1.96,1.90,1.79,3.74,5.10
4,E0,15,08/08/2015,Man United,Tottenham,1,0,H,1,0,...,2.01,26,-1.00,2.20,2.09,1.82,1.78,1.64,4.07,6.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,15,15/05/2016,Stoke,West Ham,2,1,H,0,1,...,2.27,30,0.25,2.11,2.03,1.87,1.83,3.05,4.00,2.26
376,E0,15,15/05/2016,Swansea,Man City,1,1,D,1,1,...,2.45,31,1.00,2.14,2.05,1.85,1.81,7.05,5.00,1.47
377,E0,15,15/05/2016,Watford,Sunderland,2,2,D,0,1,...,2.10,29,-0.50,2.06,2.01,1.91,1.85,1.64,4.52,5.27
378,E0,15,15/05/2016,West Brom,Liverpool,1,1,D,1,1,...,2.09,30,-0.25,2.10,2.05,1.86,1.81,2.61,3.75,2.70
379,E0,15,17/05/2016,Man United,Bournemouth,3,1,H,1,0,...,2.20,29,-0.75,1.88,1.84,2.08,2.02,1.50,4.60,7.03

,Div,season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,16,13/08/16,Burnley,Swansea,0,1,A,0,0,...,1.61,32,-0.25,2.13,2.06,1.86,1.81,2.79,3.16,2.89
1,E0,16,13/08/16,Crystal Palace,West Brom,0,1,A,0,0,...,1.52,33,-0.50,2.07,2.00,1.90,1.85,2.25,3.15,3.86
2,E0,16,13/08/16,Everton,Tottenham,1,1,D,1,0,...,1.77,32,0.25,1.91,1.85,2.09,2.00,3.64,3.54,2.16
3,E0,16,13/08/16,Hull,Leicester,2,1,H,1,0,...,1.67,31,0.25,2.35,2.26,2.03,1.67,4.68,3.50,1.92
4,E0,16,13/08/16,Man City,Sunderland,2,1,H,1,0,...,2.48,34,-1.50,1.81,1.73,2.20,2.14,1.25,6.50,14.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,16,21/05/17,Liverpool,Middlesbrough,3,0,H,1,0,...,2.73,18,-2.50,2.02,1.97,1.95,1.90,1.15,10.50,19.09
376,E0,16,21/05/17,Man United,Crystal Palace,2,0,H,2,0,...,1.81,19,-0.25,2.19,2.11,1.85,1.79,2.35,3.38,3.35
377,E0,16,21/05/17,Southampton,Stoke,0,1,A,0,0,...,2.01,18,-0.75,2.03,1.98,1.93,1.88,1.64,4.37,5.53
378,E0,16,21/05/17,Swansea,West Brom,2,1,H,0,1,...,1.98,19,-0.50,2.11,2.06,1.86,1.82,2.29,3.45,3.40
379,E0,16,21/05/17,Watford,Man City,0,5,A,0,4,...,2.80,18,1.75,1.99,1.94,2.00,1.93,18.00,9.70,1.16

,Div,season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,17,11/08/2017,Arsenal,Leicester,4,3,H,2,2,...,2.32,21,-1.00,1.91,1.85,2.10,2.02,1.49,4.73,7.25
1,E0,17,12/08/2017,Brighton,Man City,0,2,A,0,0,...,2.27,20,1.50,1.95,1.91,2.01,1.96,11.75,6.15,1.29
2,E0,17,12/08/2017,Chelsea,Burnley,2,3,A,0,3,...,2.23,20,-1.75,2.03,1.97,1.95,1.90,1.33,5.40,12.25
3,E0,17,12/08/2017,Crystal Palace,Huddersfield,0,3,A,0,2,...,1.72,18,-0.75,2.10,2.05,1.86,1.83,1.79,3.56,5.51
4,E0,17,12/08/2017,Everton,Stoke,1,0,H,1,0,...,1.76,19,-0.75,1.94,1.90,2.01,1.98,1.82,3.49,5.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,17,13/05/2018,Newcastle,Chelsea,3,0,H,1,0,...,2.01,21,1.00,1.90,1.83,2.11,2.03,4.85,3.72,1.80
376,E0,17,13/05/2018,Southampton,Man City,0,1,A,0,0,...,2.49,20,1.25,2.01,1.95,1.97,1.91,6.32,4.78,1.51
377,E0,17,13/05/2018,Swansea,Stoke,1,2,A,1,2,...,2.06,19,-0.50,1.94,1.88,2.03,1.98,2.08,3.56,3.82
378,E0,17,13/05/2018,Tottenham,Leicester,5,4,H,1,2,...,2.84,20,-1.50,1.96,1.86,2.05,2.00,1.38,5.50,8.15
379,E0,17,13/05/2018,West Ham,Everton,3,1,H,1,0,...,1.97,21,-0.25,2.09,2.03,1.88,1.84,2.35,3.40,3.28

,Div,season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,18,10/08/2018,Man United,Leicester,2,1,H,1,0,...,1.79,17,-0.75,1.75,1.70,2.29,2.21,1.55,4.07,7.69
1,E0,18,11/08/2018,Bournemouth,Cardiff,2,0,H,1,0,...,1.83,20,-0.75,2.20,2.13,1.80,1.75,1.88,3.61,4.70
2,E0,18,11/08/2018,Fulham,Crystal Palace,0,2,A,0,1,...,1.87,22,-0.25,2.18,2.11,1.81,1.77,2.62,3.38,2.90
3,E0,18,11/08/2018,Huddersfield,Chelsea,0,3,A,0,2,...,1.84,23,1.00,1.84,1.80,2.13,2.06,7.24,3.95,1.58
4,E0,18,11/08/2018,Newcastle,Tottenham,1,2,A,1,2,...,1.81,20,0.25,2.20,2.12,1.80,1.76,4.74,3.53,1.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,18,12/05/2019,Liverpool,Wolves,2,0,H,1,0,...,2.31,22,-1.50,1.98,1.91,2.01,1.95,1.32,5.89,9.48
376,E0,18,12/05/2019,Man United,Cardiff,0,2,A,0,1,...,2.95,21,-2.00,2.52,2.32,1.72,1.64,1.30,6.06,9.71
377,E0,18,12/05/2019,Southampton,Huddersfield,1,1,D,1,0,...,2.29,22,-1.50,2.27,2.16,1.80,1.73,1.37,5.36,8.49
378,E0,18,12/05/2019,Tottenham,Everton,2,2,D,1,0,...,2.07,19,-0.50,2.13,2.08,1.85,1.80,1.91,3.81,4.15
379,E0,18,12/05/2019,Watford,West Ham,1,4,A,0,2,...,2.44,19,-0.50,2.25,2.19,1.78,1.72,2.11,3.86,3.41

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,19,09/08/2019,20:00,Liverpool,Norwich,4,1,H,4,...,3.43,-2.25,1.91,1.99,1.94,1.98,1.99,2.07,1.90,1.99
1,E0,19,10/08/2019,12:30,West Ham,Man City,0,5,A,0,...,2.91,1.75,1.95,1.95,1.96,1.97,2.07,1.98,1.97,1.92
2,E0,19,10/08/2019,15:00,Bournemouth,Sheffield United,1,1,D,0,...,1.92,-0.50,1.95,1.95,1.98,1.95,2.00,1.96,1.96,1.92
3,E0,19,10/08/2019,15:00,Burnley,Southampton,3,0,H,0,...,1.71,0.00,1.87,2.03,1.89,2.03,1.90,2.07,1.86,2.02
4,E0,19,10/08/2019,15:00,Crystal Palace,Everton,0,0,D,0,...,1.71,0.25,1.82,2.08,1.97,1.96,2.03,2.08,1.96,1.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,19,26/07/2020,16:00,Leicester,Man United,0,2,A,0,...,2.03,0.50,1.89,2.01,1.88,2.05,1.94,2.05,1.86,2.02
376,E0,19,26/07/2020,16:00,Man City,Norwich,5,0,H,2,...,5.77,-3.75,2.03,1.87,2.01,1.88,2.06,1.88,2.02,1.84
377,E0,19,26/07/2020,16:00,Newcastle,Liverpool,1,3,A,1,...,2.40,1.00,1.94,1.96,1.95,1.97,2.03,2.00,1.95,1.92
378,E0,19,26/07/2020,16:00,Southampton,Sheffield United,3,1,H,0,...,2.01,-0.50,1.97,1.93,2.00,1.93,2.03,1.96,1.98,1.89
379,E0,19,26/07/2020,16:00,West Ham,Aston Villa,1,1,D,0,...,2.03,0.00,1.93,1.97,1.95,1.98,1.99,2.00,1.93,1.95

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,20,12/09/2020,12:30,Fulham,Arsenal,0,3,A,0,...,1.84,0.75,2.01,1.89,2.02,1.91,2.13,1.92,2.02,1.87
1,E0,20,12/09/2020,15:00,Crystal Palace,Southampton,1,0,H,1,...,1.70,0.25,1.78,2.13,1.79,2.17,1.85,2.18,1.79,2.12
2,E0,20,12/09/2020,17:30,Liverpool,Leeds,4,3,H,3,...,2.62,-1.50,1.85,2.05,1.85,2.08,1.90,2.16,1.84,2.04
3,E0,20,12/09/2020,20:00,West Ham,Newcastle,0,2,A,0,...,1.92,-0.50,2.03,1.87,2.04,1.88,2.09,1.91,2.02,1.86
4,E0,20,13/09/2020,14:00,West Brom,Leicester,0,3,A,0,...,1.73,0.25,1.92,1.98,1.93,1.99,1.95,2.01,1.91,1.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,20,23/05/2021,16:00,Liverpool,Crystal Palace,2,0,H,1,...,3.49,-2.25,1.86,2.04,1.88,2.03,1.98,2.14,1.88,2.00
376,E0,20,23/05/2021,16:00,Man City,Everton,5,0,H,2,...,2.77,-1.75,2.01,1.89,1.99,1.89,2.20,2.00,2.03,1.85
377,E0,20,23/05/2021,16:00,Sheffield United,Burnley,1,0,H,1,...,2.05,0.00,2.04,1.86,2.05,1.86,2.17,1.90,2.03,1.84
378,E0,20,23/05/2021,16:00,West Ham,Southampton,3,0,H,2,...,2.14,-0.75,2.00,1.90,2.02,1.91,2.06,2.01,1.99,1.89
379,E0,20,23/05/2021,16:00,Wolves,Man United,1,2,A,1,...,1.62,-0.25,2.04,1.86,2.10,1.84,2.10,1.94,2.00,1.88

,Div,season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E1,15,07/08/15,Brighton,Nott'm Forest,1,0,H,0,0,...,1.65,24,0.00,1.75,1.65,2.34,2.25,2.24,3.42,3.55
1,E1,15,08/08/15,Birmingham,Reading,2,1,H,1,0,...,1.69,25,-0.25,2.14,2.07,1.81,1.77,2.53,3.28,3.08
2,E1,15,08/08/15,Blackburn,Wolves,1,2,A,1,2,...,1.79,26,0.00,1.87,1.80,2.11,2.02,2.63,3.37,2.87
3,E1,15,08/08/15,Bolton,Derby,0,0,D,0,0,...,1.80,26,0.50,1.86,1.80,2.09,2.03,4.06,3.65,1.98
4,E1,15,08/08/15,Brentford,Ipswich,2,2,D,0,1,...,1.96,26,-0.50,2.10,2.04,1.84,1.79,2.13,3.61,3.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E1,15,07/05/16,Middlesbrough,Brighton,1,1,D,1,0,...,1.72,30,-0.25,1.85,1.80,2.11,2.03,2.06,3.45,3.97
548,E1,15,07/05/16,Milton Keynes Dons,Nott'm Forest,1,2,A,1,1,...,1.86,27,0.00,2.17,2.09,1.85,1.76,3.06,3.46,2.44
549,E1,15,07/05/16,Preston,Leeds,1,1,D,0,0,...,1.80,29,-0.50,2.05,2.00,1.90,1.84,2.16,3.69,3.43
550,E1,15,07/05/16,QPR,Bristol City,1,0,H,0,0,...,1.95,29,-0.25,2.09,2.03,1.87,1.80,2.47,3.59,2.92
551,E1,15,07/05/16,Wolves,Sheffield Weds,2,1,H,2,0,...,1.84,30,-0.25,2.06,2.01,1.88,1.83,2.37,3.53,3.13

,Div,season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E1,16,05/08/16,Fulham,Newcastle,1,0,H,1,0,...,1.91,32,0.25,2.21,2.14,1.76,1.72,4.39,3.42,2.00
1,E1,16,06/08/16,Birmingham,Cardiff,0,0,D,0,0,...,1.65,32,-0.25,2.06,1.98,1.94,1.84,2.53,3.26,3.14
2,E1,16,06/08/16,Blackburn,Norwich,1,4,A,0,3,...,1.62,32,0.25,1.95,1.88,2.00,1.94,3.64,3.33,2.25
3,E1,16,06/08/16,Bristol City,Wigan,2,1,H,0,1,...,1.68,33,-0.25,1.95,1.89,2.00,1.94,2.23,3.50,3.49
4,E1,16,06/08/16,Derby,Brighton,0,0,D,0,0,...,1.68,32,-0.25,1.83,1.76,2.13,2.07,2.28,3.31,3.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E1,16,07/05/17,Nott'm Forest,Ipswich,3,0,H,1,0,...,2.14,20,-1.00,2.12,2.05,1.85,1.80,1.56,4.43,6.26
548,E1,16,07/05/17,Rotherham,Derby,1,1,D,0,0,...,1.95,18,0.75,1.98,1.93,1.96,1.91,4.66,4.06,1.77
549,E1,16,07/05/17,Sheffield Weds,Fulham,1,2,A,1,1,...,2.09,18,-0.25,2.11,2.04,1.87,1.82,2.83,3.53,2.57
550,E1,16,07/05/17,Wigan,Leeds,1,1,D,1,0,...,1.90,18,0.25,1.85,1.82,2.08,2.03,2.55,3.54,2.86
551,E1,16,07/05/17,Wolves,Preston,1,0,H,1,0,...,2.03,19,-0.50,2.11,2.05,1.85,1.81,2.11,3.70,3.57

,Div,season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E1,17,04/08/17,Nott'm Forest,Millwall,1,0,H,1,0,...,1.76,20,-0.50,2.06,2.01,1.90,1.86,1.98,3.50,4.25
1,E1,17,04/08/17,Sunderland,Derby,1,1,D,1,1,...,1.66,19,0.00,1.91,1.84,2.07,2.02,2.77,3.16,2.84
2,E1,17,05/08/17,Aston Villa,Hull,1,1,D,1,0,...,1.60,18,-0.50,2.09,2.05,1.85,1.82,1.96,3.39,4.64
3,E1,17,05/08/17,Bristol City,Barnsley,3,1,H,3,0,...,2.01,18,-0.50,1.85,1.82,2.11,2.05,1.61,4.18,6.30
4,E1,17,05/08/17,Burton,Cardiff,0,1,A,0,0,...,1.62,17,0.25,1.84,1.79,2.13,2.08,3.26,3.27,2.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E1,17,06/05/18,Leeds,QPR,2,0,H,1,0,...,2.46,19,-0.25,1.95,1.90,2.00,1.95,1.87,3.98,4.19
548,E1,17,06/05/18,Millwall,Aston Villa,1,0,H,1,0,...,1.92,18,-0.25,2.10,2.03,1.86,1.82,2.43,3.68,2.93
549,E1,17,06/05/18,Preston,Burton,2,1,H,1,0,...,2.13,21,-1.00,1.96,1.89,2.00,1.94,1.54,4.77,5.98
550,E1,17,06/05/18,Sheffield Weds,Norwich,5,1,H,2,0,...,2.21,17,0.00,1.98,1.94,1.95,1.91,3.13,3.58,2.35
551,E1,17,06/05/18,Sunderland,Wolves,3,0,H,2,0,...,2.18,21,1.00,1.99,1.93,1.95,1.90,6.43,4.50,1.55

,Div,season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E1,18,03/08/2018,Reading,Derby,1,2,A,0.0,0.0,...,1.67,20,0.25,2.01,1.96,1.95,1.88,3.78,3.29,2.19
1,E1,18,04/08/2018,Birmingham,Norwich,2,2,D,0.0,0.0,...,1.64,19,-0.25,2.23,2.15,1.77,1.72,2.86,3.14,2.79
2,E1,18,04/08/2018,Brentford,Rotherham,5,1,H,2.0,0.0,...,2.21,22,-1.00,1.89,1.83,2.09,2.01,1.56,4.38,6.30
3,E1,18,04/08/2018,Bristol City,Nott'm Forest,1,1,D,1.0,0.0,...,1.77,19,-0.25,2.25,2.16,1.77,1.71,2.77,3.33,2.74
4,E1,18,04/08/2018,Ipswich,Blackburn,2,2,D,1.0,2.0,...,1.65,18,-0.25,2.36,2.28,1.69,1.65,3.23,3.15,2.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E1,18,05/05/2019,Reading,Birmingham,0,0,D,0.0,0.0,...,2.03,17,0.00,2.00,1.96,1.95,1.90,2.75,3.40,2.72
548,E1,18,05/05/2019,Rotherham,Middlesbrough,1,2,A,0.0,2.0,...,2.10,18,1.00,1.70,1.63,2.47,2.29,4.93,4.27,1.69
549,E1,18,05/05/2019,Sheffield Weds,QPR,1,2,A,0.0,1.0,...,2.10,18,-1.00,2.46,2.40,1.65,1.58,1.98,3.60,4.09
550,E1,18,05/05/2019,Stoke,Sheffield United,2,2,D,1.0,0.0,...,1.83,17,0.50,1.75,1.69,2.25,2.19,3.36,3.45,2.28
551,E1,18,05/05/2019,Wigan,Millwall,1,0,H,1.0,0.0,...,1.95,17,-0.50,2.20,2.12,1.79,1.73,2.17,3.57,3.52

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E1,19,02/08/2019,19:45,Luton,Middlesbrough,3,3,D,2,...,1.79,-0.25,1.94,1.96,1.96,1.96,1.98,1.98,1.94,1.93
1,E1,19,03/08/2019,15:00,Barnsley,Fulham,1,0,H,1,...,2.13,0.25,2.04,1.86,2.05,1.87,2.07,1.88,2.02,1.84
2,E1,19,03/08/2019,15:00,Blackburn,Charlton,1,2,A,0,...,1.84,-0.75,1.88,2.02,1.91,2.01,1.94,2.02,1.89,1.98
3,E1,19,03/08/2019,15:00,Brentford,Birmingham,0,1,A,0,...,1.93,-0.50,2.00,1.90,2.01,1.91,2.01,1.96,1.96,1.90
4,E1,19,03/08/2019,15:00,Millwall,Preston,1,0,H,1,...,1.66,-0.25,2.11,1.79,2.12,1.81,2.13,1.87,2.08,1.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E1,19,22/07/2020,19:30,Nott'm Forest,Stoke,1,4,A,0,...,1.76,-0.25,2.01,1.89,1.98,1.93,2.02,1.95,1.96,1.89
548,E1,19,22/07/2020,19:30,Reading,Swansea,1,4,A,1,...,2.18,0.50,1.90,2.00,1.90,2.00,1.95,2.06,1.88,1.96
549,E1,19,22/07/2020,19:30,Sheffield Weds,Middlesbrough,1,2,A,1,...,1.93,0.00,1.82,2.08,1.81,2.09,1.83,2.14,1.79,2.07
550,E1,19,22/07/2020,19:30,West Brom,QPR,2,2,D,1,...,2.61,-1.75,1.93,1.97,1.93,1.97,1.95,2.00,1.92,1.94
551,E1,19,22/07/2020,19:30,Wigan,Fulham,1,1,D,1,...,2.25,0.00,1.98,1.92,1.97,1.93,2.07,1.96,1.99,1.86

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E1,20,11/09/2020,19:45,Watford,Middlesbrough,1,0,H,1,...,1.65,-0.50,2.05,1.85,2.04,1.85,2.09,1.88,2.02,1.82
1,E1,20,12/09/2020,12:30,Birmingham,Brentford,1,0,H,1,...,1.67,0.50,1.97,1.93,1.96,1.93,1.97,1.99,1.91,1.93
2,E1,20,12/09/2020,12:30,Wycombe,Rotherham,0,1,A,0,...,1.86,0.25,1.99,1.91,1.95,1.93,2.04,1.98,1.93,1.92
3,E1,20,12/09/2020,15:00,Barnsley,Luton,0,1,A,0,...,1.83,-0.50,1.77,2.02,1.81,2.10,1.87,2.14,1.80,2.05
4,E1,20,12/09/2020,15:00,Bournemouth,Blackburn,3,2,H,1,...,1.89,-0.50,2.06,1.84,2.07,1.85,2.11,1.90,2.02,1.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E1,20,08/05/2021,12:30,Middlesbrough,Wycombe,0,3,A,0,...,2.06,-0.50,1.77,2.02,1.83,2.07,1.87,2.12,1.81,2.04
548,E1,20,08/05/2021,12:30,Nott'm Forest,Preston,1,2,A,1,...,1.77,-0.25,1.97,1.93,1.95,1.95,1.98,1.98,1.93,1.92
549,E1,20,08/05/2021,12:30,QPR,Luton,3,1,H,1,...,2.17,-0.25,1.95,1.95,1.96,1.94,1.98,2.02,1.90,1.95
550,E1,20,08/05/2021,12:30,Reading,Huddersfield,2,2,D,2,...,2.11,-0.50,1.85,2.05,1.86,2.05,1.88,2.08,1.84,2.01
551,E1,20,08/05/2021,12:30,Watford,Swansea,2,0,H,0,...,1.80,-0.25,2.08,1.82,2.07,1.85,2.14,1.90,2.04,1.82

,Div,season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E2,15,08/08/15,Burton,Scunthorpe,2.0,1.0,H,0.0,0.0,...,1.74,25.0,-0.25,1.99,1.93,1.94,1.88,2.40,3.38,3.19
1,E2,15,08/08/15,Chesterfield,Barnsley,3.0,1.0,H,0.0,1.0,...,1.75,25.0,-0.25,1.93,1.87,2.02,1.94,2.02,3.60,3.96
2,E2,15,08/08/15,Colchester,Blackpool,2.0,2.0,D,1.0,2.0,...,1.77,25.0,-0.25,1.94,1.88,2.01,1.93,2.28,3.51,3.31
3,E2,15,08/08/15,Coventry,Wigan,2.0,0.0,H,1.0,0.0,...,1.64,25.0,0.25,1.85,1.78,2.12,2.05,2.92,3.31,2.63
4,E2,15,08/08/15,Crewe,Port Vale,0.0,0.0,D,0.0,0.0,...,1.75,23.0,-0.25,2.22,2.13,1.76,1.72,3.05,3.51,2.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
548,E2,15,08/05/16,Port Vale,Walsall,0.0,5.0,A,0.0,3.0,...,1.96,26.0,0.75,1.74,1.69,2.29,2.19,4.19,3.94,1.88
549,E2,15,08/05/16,Sheffield United,Scunthorpe,0.0,2.0,A,0.0,1.0,...,2.06,27.0,0.25,1.93,1.86,2.02,1.96,3.17,3.80,2.24
550,E2,15,08/05/16,Swindon,Shrewsbury,3.0,0.0,H,1.0,0.0,...,2.22,27.0,-0.25,2.00,1.93,1.96,1.89,2.21,3.68,3.32
551,E2,15,08/05/16,Wigan,Barnsley,1.0,4.0,A,1.0,2.0,...,2.00,27.0,-0.25,2.08,2.01,1.87,1.82,2.32,3.85,2.99
552,NaN,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,Div,season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E2,16,06/08/16,Bolton,Sheffield United,1,0,H,1,0,...,1.68,28,0.00,2.08,2.00,1.87,1.81,3.20,3.35,2.41
1,E2,16,06/08/16,Bradford,Port Vale,0,0,D,0,0,...,1.68,29,-0.75,1.97,1.91,1.96,1.91,1.78,3.59,5.45
2,E2,16,06/08/16,Bury,Charlton,2,0,H,0,0,...,1.74,29,0.25,1.80,1.74,2.20,2.11,2.73,3.41,2.73
3,E2,16,06/08/16,Millwall,Oldham,3,0,H,2,0,...,1.80,29,-0.75,1.85,1.80,2.10,2.03,1.55,4.22,7.05
4,E2,16,06/08/16,Northampton,Fleetwood Town,1,1,D,1,0,...,1.67,29,-0.25,2.00,1.91,1.99,1.91,2.28,3.37,3.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E2,16,30/04/17,Rochdale,Bradford,1,1,D,0,1,...,2.08,20,-0.25,2.00,1.94,1.95,1.90,1.81,3.85,4.70
548,E2,16,30/04/17,Scunthorpe,Coventry,3,1,H,0,1,...,1.93,18,-1.00,2.13,2.02,1.86,1.81,1.64,4.29,5.52
549,E2,16,30/04/17,Sheffield United,Chesterfield,3,2,H,1,1,...,2.94,18,-2.00,1.95,1.88,2.01,1.95,1.20,7.90,15.00
550,E2,16,30/04/17,Southend,Bury,1,0,H,1,0,...,2.03,18,-0.75,2.01,1.96,1.95,1.88,1.78,3.89,4.86
551,E2,16,30/04/17,Walsall,Milton Keynes Dons,1,4,A,0,2,...,1.90,16,0.00,2.10,2.06,1.84,1.81,3.21,3.66,2.27

,Div,season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E2,17,05/08/17,Bradford,Blackpool,2,1,H,1,1,...,1.64,16,-0.75,1.86,1.81,2.08,2.04,1.69,3.97,5.50
1,E2,17,05/08/17,Bury,Walsall,1,0,H,1,0,...,1.79,16,-0.50,2.09,2.03,1.87,1.82,2.02,3.55,4.03
2,E2,17,05/08/17,Charlton,Bristol Rvs,1,0,H,1,0,...,1.89,16,-0.25,2.07,2.02,1.89,1.83,2.19,3.66,3.39
3,E2,17,05/08/17,Doncaster,Gillingham,0,0,D,0,0,...,1.88,16,-0.50,1.83,1.79,2.11,2.06,1.69,3.96,5.45
4,E2,17,05/08/17,Fleetwood Town,Rotherham,2,0,H,1,0,...,1.75,16,-0.25,2.00,1.94,1.98,1.91,2.20,3.38,3.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E2,17,05/05/18,Rochdale,Charlton,1,0,H,0,0,...,1.73,18,-0.25,1.86,1.81,2.06,2.01,1.92,3.89,3.98
548,E2,17,05/05/18,Rotherham,Blackpool,1,0,H,0,0,...,1.91,18,-0.25,2.20,2.11,1.80,1.74,2.14,3.79,3.34
549,E2,17,05/05/18,Scunthorpe,Bradford,1,1,D,0,0,...,1.81,18,-0.50,1.93,1.86,2.01,1.96,1.92,3.68,4.21
550,E2,17,05/05/18,Shrewsbury,Milton Keynes Dons,0,1,A,0,0,...,1.77,17,-0.75,2.12,2.03,1.84,1.80,1.76,3.84,4.98
551,E2,17,05/05/18,Southend,Bristol Rvs,0,0,D,0,0,...,1.98,19,-0.25,2.03,1.95,1.95,1.87,2.23,3.78,3.16

,Div,season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E2,18,04/08/2018,Accrington,Gillingham,0,2,A,0,2,...,1.77,19,-0.25,2.02,1.96,1.90,1.86,2.38,3.36,3.17
1,E2,18,04/08/2018,Barnsley,Oxford,4,0,H,2,0,...,1.92,18,-0.50,2.02,1.95,1.95,1.87,1.83,3.82,4.44
2,E2,18,04/08/2018,Burton,Rochdale,1,2,A,0,2,...,1.72,18,-0.50,2.21,2.13,1.76,1.72,2.88,3.28,2.62
3,E2,18,04/08/2018,Coventry,Scunthorpe,1,2,A,0,0,...,1.67,20,-0.25,2.05,1.97,1.91,1.84,2.59,3.23,2.96
4,E2,18,04/08/2018,Fleetwood Town,AFC Wimbledon,0,1,A,0,0,...,1.65,18,-0.25,1.93,1.86,2.00,1.94,2.02,3.43,4.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E2,18,04/05/2019,Plymouth,Scunthorpe,3,2,H,2,1,...,2.02,18,-0.25,1.95,1.87,2.02,1.96,1.88,4.08,3.92
548,E2,18,04/05/2019,Portsmouth,Accrington,1,1,D,0,0,...,2.15,18,-1.25,1.98,1.93,2.00,1.89,1.44,4.61,7.60
549,E2,18,04/05/2019,Shrewsbury,Walsall,0,0,D,0,0,...,1.75,17,0.00,2.01,1.95,1.94,1.88,2.38,3.76,2.89
550,E2,18,04/05/2019,Southend,Sunderland,2,1,H,1,0,...,1.84,16,0.00,2.06,2.01,1.87,1.82,2.97,3.71,2.35
551,E2,18,04/05/2019,Wycombe,Fleetwood Town,1,0,H,0,0,...,1.71,18,-0.50,2.20,2.11,1.79,1.73,2.39,3.34,3.20

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E2,19,03/08/2019,15:00,AFC Wimbledon,Rotherham,1,2,A,0,...,1.72,0.25,1.88,1.98,1.84,2.06,1.95,2.04,1.88,1.96
1,E2,19,03/08/2019,15:00,Blackpool,Bristol Rvs,2,0,H,1,...,1.65,-0.50,2.02,1.83,2.06,1.84,2.09,1.87,2.03,1.82
2,E2,19,03/08/2019,15:00,Burton,Ipswich,0,1,A,0,...,1.69,-0.25,1.75,2.13,1.78,2.13,1.83,2.19,1.76,2.09
3,E2,19,03/08/2019,15:00,Coventry,Southend,1,0,H,0,...,1.81,-0.25,1.85,1.95,1.84,2.06,1.85,2.26,1.77,2.08
4,E2,19,03/08/2019,15:00,Doncaster,Gillingham,1,1,D,1,...,1.94,-0.50,1.93,1.93,1.96,1.94,1.97,1.96,1.92,1.91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,E2,19,07/03/2020,15:00,Sunderland,Gillingham,2,2,D,0,...,1.60,-0.50,1.83,2.02,1.79,2.11,1.87,2.11,1.79,2.04
396,E2,19,10/03/2020,19:45,Blackpool,Tranmere,1,2,A,0,...,1.75,-0.75,1.98,1.88,2.00,1.90,2.04,2.06,1.93,1.89
397,E2,19,10/03/2020,19:45,Bristol Rvs,Sunderland,2,0,H,1,...,1.68,0.75,1.88,1.98,1.91,1.99,1.95,2.00,1.88,1.94
398,E2,19,10/03/2020,19:45,Burton,Bolton,2,2,D,1,...,2.08,-1.00,2.02,1.83,2.04,1.86,2.07,1.98,1.98,1.84
399,E2,19,10/03/2020,19:45,Portsmouth,Fleetwood Town,2,2,D,1,...,1.62,-0.25,1.75,2.05,1.77,2.15,1.83,2.16,1.76,2.09

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E2,20,12/09/2020,15:00,Accrington,Peterboro,2,0,H,1,...,2.03,0.25,2.02,1.83,2.08,1.83,2.09,1.87,2.02,1.81
1,E2,20,12/09/2020,15:00,Crewe,Charlton,0,2,A,0,...,1.88,0.00,1.95,1.90,1.96,1.94,2.00,1.95,1.94,1.89
2,E2,20,12/09/2020,15:00,Doncaster,Milton Keynes Dons,1,1,D,0,...,1.69,-0.25,1.80,2.05,1.81,2.12,1.85,2.12,1.80,2.05
3,E2,20,12/09/2020,15:00,Fleetwood Town,Burton,2,1,H,1,...,1.85,-0.50,1.98,1.88,1.95,1.95,2.06,1.95,1.97,1.86
4,E2,20,12/09/2020,15:00,Gillingham,Hull,0,2,A,0,...,1.86,0.00,1.85,2.00,1.91,2.00,1.93,2.06,1.85,1.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E2,20,09/05/2021,12:00,Milton Keynes Dons,Rochdale,0,3,A,0,...,2.56,-0.75,1.88,1.98,1.88,2.01,1.96,2.04,1.87,1.97
548,E2,20,09/05/2021,12:00,Oxford,Burton,4,0,H,2,...,2.38,-1.00,1.85,2.00,1.88,2.02,2.11,2.06,1.88,1.95
549,E2,20,09/05/2021,12:00,Portsmouth,Accrington,0,1,A,0,...,2.21,-1.00,1.95,1.90,1.99,1.90,2.07,1.94,1.95,1.88
550,E2,20,09/05/2021,12:00,Sunderland,Northampton,1,1,D,0,...,2.13,-1.25,1.98,1.88,2.02,1.88,2.10,1.91,2.01,1.83
551,E2,20,09/05/2021,12:00,Wigan,Swindon,3,4,A,1,...,2.28,-0.75,1.93,1.93,2.00,1.88,2.01,1.97,1.93,1.90

# 3. Organize all the data in dictionary

In [11]:
dict_countries = {
    'Spanish La Liga': 'SP1', 'Spanish Segunda Division': 'SP2', 'German BundesLiga': 'D1', 'English Premier League': 'E0', 'English League 1': 'E1', 'English League 2': 'E3'
}

In [2]:
dict_countries['Spanish La Liga']

'SP1'

In [4]:
for league in dict_countries:
    print(dict_countries[league])

SP1
SP2
D1
E0
E1
E3

In [15]:
# creating list of leagues
dict_historical_data = {}


# looping through key elements
for league in dict_countries:
    frames = []
    for season in range(15, 21):
        df = pd.read_csv(root + str(season) + str(season + 1) + '/' + dict_countries[league] + '.csv')
        df.insert(1, 'season', season)
        frames.append(df)
    df_concat = pd.concat(frames)
    dict_historical_data[league] = df_concat
    display(df)

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,SP1,20,12/09/2020,15:00,Eibar,Celta,0,0,D,0,...,1.51,0.00,1.94,1.96,1.96,1.96,1.98,2.01,1.92,1.96
1,SP1,20,12/09/2020,17:30,Granada,Ath Bilbao,2,0,H,0,...,1.38,0.00,1.74,2.19,1.77,2.20,1.93,2.23,1.78,2.11
2,SP1,20,12/09/2020,20:00,Cadiz,Osasuna,0,2,A,0,...,1.36,0.25,1.72,2.07,1.79,2.17,1.81,2.25,1.74,2.17
3,SP1,20,13/09/2020,13:00,Alaves,Betis,0,1,A,0,...,1.61,0.25,1.93,1.97,1.93,2.00,1.95,2.05,1.88,1.99
4,SP1,20,13/09/2020,15:00,Valladolid,Sociedad,1,1,D,1,...,1.40,0.00,2.07,1.83,2.13,1.82,2.13,1.88,2.06,1.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,SP1,20,22/05/2021,17:00,Osasuna,Sociedad,0,1,A,0,...,2.34,1.00,2.07,1.86,2.06,1.87,2.07,1.96,1.98,1.88
376,SP1,20,22/05/2021,17:00,Real Madrid,Villarreal,2,1,H,0,...,2.57,-1.00,2.01,1.92,2.00,1.93,2.02,2.02,1.95,1.92
377,SP1,20,22/05/2021,17:00,Valladolid,Ath Madrid,1,2,A,1,...,2.30,1.50,1.90,2.03,1.90,2.02,1.95,2.06,1.90,1.97
378,SP1,20,23/05/2021,17:30,Granada,Getafe,0,0,D,0,...,1.80,0.25,1.73,2.08,1.77,2.18,1.84,2.23,1.77,2.12
379,SP1,20,23/05/2021,20:00,Sevilla,Alaves,1,0,H,0,...,2.40,-1.50,1.97,1.96,1.93,1.99,2.13,2.03,1.99,1.88

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,SP2,20,12/09/2020,15:00,Ponferradina,Castellon,1,2,A,1,...,1.46,-0.25,2.13,1.75,2.16,1.78,2.17,1.82,2.09,1.77
1,SP2,20,12/09/2020,17:15,Leganes,Las Palmas,1,0,H,0,...,1.43,-0.50,1.88,1.98,1.90,2.00,1.92,2.02,1.87,1.97
2,SP2,20,12/09/2020,17:15,Sp Gijon,Logrones,1,0,H,0,...,1.49,-0.25,1.75,2.05,1.81,2.12,1.81,2.14,1.76,2.09
3,SP2,20,12/09/2020,20:00,Espanol,Albacete,3,0,H,2,...,1.54,-0.75,1.90,1.95,1.90,2.01,1.97,2.01,1.89,1.95
4,SP2,20,13/09/2020,11:00,Oviedo,Cartagena,0,0,D,0,...,1.46,-0.25,1.93,1.93,1.96,1.94,1.97,1.98,1.92,1.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457,SP2,20,30/05/2021,20:00,Mirandes,Sabadell,0,2,A,0,...,1.74,0.50,2.02,1.83,2.05,1.86,2.06,1.89,2.00,1.83
458,SP2,20,30/05/2021,20:00,Ponferradina,Mallorca,2,2,D,1,...,1.83,0.25,2.00,1.85,2.02,1.89,2.04,1.92,1.99,1.85
459,SP2,20,30/05/2021,20:00,Sp Gijon,Almeria,0,2,A,0,...,1.83,-0.75,1.80,2.05,1.84,2.08,1.89,2.08,1.83,2.02
460,SP2,20,30/05/2021,20:00,Vallecano,Lugo,0,1,A,0,...,1.87,-1.00,1.95,1.90,1.97,1.93,2.02,1.94,1.96,1.88
461,SP2,20,30/05/2021,20:00,Zaragoza,Leganes,0,5,A,0,...,1.64,0.50,1.83,2.02,1.85,2.07,1.87,2.08,1.80,2.04

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,D1,20,18/09/2020,19:30,Bayern Munich,Schalke 04,8,0,H,3,...,4.34,-2.50,1.89,2.04,1.87,2.02,1.95,2.18,1.85,2.02
1,D1,20,19/09/2020,14:30,Ein Frankfurt,Bielefeld,1,1,D,0,...,2.33,-0.75,1.96,1.97,1.96,1.96,2.02,1.98,1.94,1.93
2,D1,20,19/09/2020,14:30,FC Koln,Hoffenheim,2,3,A,1,...,2.27,0.00,1.91,2.02,1.92,2.01,1.97,2.08,1.89,1.98
3,D1,20,19/09/2020,14:30,Stuttgart,Freiburg,2,3,A,0,...,2.33,-0.25,1.92,2.01,1.91,2.02,1.94,2.04,1.88,1.99
4,D1,20,19/09/2020,14:30,Union Berlin,Augsburg,1,3,A,0,...,1.71,-0.25,2.02,1.91,2.00,1.92,2.05,1.93,2.00,1.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,D1,20,22/05/2021,14:30,Hoffenheim,Hertha,2,1,H,0,...,2.96,-0.75,1.86,2.07,1.88,2.06,1.99,2.08,1.88,2.00
302,D1,20,22/05/2021,14:30,Stuttgart,Bielefeld,0,2,A,0,...,2.50,-0.25,2.03,1.90,2.02,1.90,2.06,1.91,2.01,1.87
303,D1,20,22/05/2021,14:30,Union Berlin,RB Leipzig,2,1,H,0,...,2.34,0.50,1.97,1.96,1.97,1.95,1.98,1.98,1.92,1.95
304,D1,20,22/05/2021,14:30,Werder Bremen,M'gladbach,2,4,A,0,...,2.52,0.25,2.04,1.89,2.03,1.90,2.07,1.91,2.00,1.87
305,D1,20,22/05/2021,14:30,Wolfsburg,Mainz,2,3,A,0,...,2.97,-0.75,2.05,1.75,2.09,1.83,2.13,1.89,2.04,1.83

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,20,12/09/2020,12:30,Fulham,Arsenal,0,3,A,0,...,1.84,0.75,2.01,1.89,2.02,1.91,2.13,1.92,2.02,1.87
1,E0,20,12/09/2020,15:00,Crystal Palace,Southampton,1,0,H,1,...,1.70,0.25,1.78,2.13,1.79,2.17,1.85,2.18,1.79,2.12
2,E0,20,12/09/2020,17:30,Liverpool,Leeds,4,3,H,3,...,2.62,-1.50,1.85,2.05,1.85,2.08,1.90,2.16,1.84,2.04
3,E0,20,12/09/2020,20:00,West Ham,Newcastle,0,2,A,0,...,1.92,-0.50,2.03,1.87,2.04,1.88,2.09,1.91,2.02,1.86
4,E0,20,13/09/2020,14:00,West Brom,Leicester,0,3,A,0,...,1.73,0.25,1.92,1.98,1.93,1.99,1.95,2.01,1.91,1.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,20,23/05/2021,16:00,Liverpool,Crystal Palace,2,0,H,1,...,3.49,-2.25,1.86,2.04,1.88,2.03,1.98,2.14,1.88,2.00
376,E0,20,23/05/2021,16:00,Man City,Everton,5,0,H,2,...,2.77,-1.75,2.01,1.89,1.99,1.89,2.20,2.00,2.03,1.85
377,E0,20,23/05/2021,16:00,Sheffield United,Burnley,1,0,H,1,...,2.05,0.00,2.04,1.86,2.05,1.86,2.17,1.90,2.03,1.84
378,E0,20,23/05/2021,16:00,West Ham,Southampton,3,0,H,2,...,2.14,-0.75,2.00,1.90,2.02,1.91,2.06,2.01,1.99,1.89
379,E0,20,23/05/2021,16:00,Wolves,Man United,1,2,A,1,...,1.62,-0.25,2.04,1.86,2.10,1.84,2.10,1.94,2.00,1.88

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E1,20,11/09/2020,19:45,Watford,Middlesbrough,1,0,H,1,...,1.65,-0.50,2.05,1.85,2.04,1.85,2.09,1.88,2.02,1.82
1,E1,20,12/09/2020,12:30,Birmingham,Brentford,1,0,H,1,...,1.67,0.50,1.97,1.93,1.96,1.93,1.97,1.99,1.91,1.93
2,E1,20,12/09/2020,12:30,Wycombe,Rotherham,0,1,A,0,...,1.86,0.25,1.99,1.91,1.95,1.93,2.04,1.98,1.93,1.92
3,E1,20,12/09/2020,15:00,Barnsley,Luton,0,1,A,0,...,1.83,-0.50,1.77,2.02,1.81,2.10,1.87,2.14,1.80,2.05
4,E1,20,12/09/2020,15:00,Bournemouth,Blackburn,3,2,H,1,...,1.89,-0.50,2.06,1.84,2.07,1.85,2.11,1.90,2.02,1.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E1,20,08/05/2021,12:30,Middlesbrough,Wycombe,0,3,A,0,...,2.06,-0.50,1.77,2.02,1.83,2.07,1.87,2.12,1.81,2.04
548,E1,20,08/05/2021,12:30,Nott'm Forest,Preston,1,2,A,1,...,1.77,-0.25,1.97,1.93,1.95,1.95,1.98,1.98,1.93,1.92
549,E1,20,08/05/2021,12:30,QPR,Luton,3,1,H,1,...,2.17,-0.25,1.95,1.95,1.96,1.94,1.98,2.02,1.90,1.95
550,E1,20,08/05/2021,12:30,Reading,Huddersfield,2,2,D,2,...,2.11,-0.50,1.85,2.05,1.86,2.05,1.88,2.08,1.84,2.01
551,E1,20,08/05/2021,12:30,Watford,Swansea,2,0,H,0,...,1.80,-0.25,2.08,1.82,2.07,1.85,2.14,1.90,2.04,1.82

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E3,20,12/09/2020,15:00,Barrow,Stevenage,1,1,D,1,...,1.76,-0.25,1.95,1.90,1.93,1.98,1.98,1.99,1.91,1.92
1,E3,20,12/09/2020,15:00,Bolton,Forest Green,0,1,A,0,...,1.79,-0.25,2.02,1.83,2.04,1.87,2.09,1.90,2.00,1.83
2,E3,20,12/09/2020,15:00,Bradford,Colchester,0,0,D,0,...,1.65,-0.25,2.07,1.72,2.11,1.82,2.20,1.82,2.09,1.76
3,E3,20,12/09/2020,15:00,Cambridge,Carlisle,3,0,H,2,...,1.70,-0.25,1.98,1.88,2.02,1.88,2.04,1.90,1.99,1.84
4,E3,20,12/09/2020,15:00,Cheltenham,Morecambe,1,2,A,1,...,1.75,-0.50,1.83,2.02,1.87,2.04,1.88,2.09,1.83,2.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E3,20,08/05/2021,15:00,Port Vale,Mansfield,0,3,A,0,...,1.84,0.25,1.90,1.95,1.89,2.00,1.95,2.07,1.85,1.97
548,E3,20,08/05/2021,15:00,Scunthorpe,Stevenage,0,1,A,0,...,1.73,0.50,1.80,2.05,1.84,2.06,1.87,2.14,1.77,2.07
549,E3,20,08/05/2021,15:00,Southend,Newport County,1,1,D,1,...,1.44,0.50,1.93,1.93,1.94,1.94,1.97,1.97,1.91,1.91
550,E3,20,08/05/2021,15:00,Tranmere,Colchester,0,0,D,0,...,1.59,-0.75,2.05,1.80,2.05,1.85,2.08,1.89,2.01,1.82
551,E3,20,08/05/2021,16:00,Salford,Leyton Orient,3,0,H,1,...,1.87,-1.00,1.98,1.88,1.99,1.90,2.01,1.96,1.96,1.86

In [18]:
dict_historical_data.keys()

dict_keys(['Spanish La Liga', 'Spanish Segunda Division', 'German BundesLiga', 'English Premier League', 'English League 1', 'English League 2'])