In [5]:
import pandas as pd

In [6]:
#read csv file
df = pd.read_csv('players_20.csv', encoding='latin1')
#set index
df.set_index('short_name', inplace=True)
#select columns
df = df[['long_name', 'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club']]

In [7]:
#show dataframe
df

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,2/5/1985,187,83,Portugal,Juventus
L. Messi,Lionel Andrés Messi Cuccittini,32,6/24/1987,170,72,Argentina,FC Barcelona
Neymar Jr,Neymar da Silva Santos Junior,27,2/5/1992,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1/7/1993,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1/7/1991,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,??,22,3/10/1997,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1/1/1997,177,66,China PR,Shanghai SIPG FC
Zhang Wei,??,19,5/16/2000,186,75,China PR,Hebei China Fortune FC
Wang Haijian,???,18,8/2/2000,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,???,26,1/11/1993,182,78,China PR,Hebei China Fortune FC

# 1. Selecting with a single value
loc[row_label, column_label]

In [7]:
#get all data about Cristiano
df.loc['Cristiano Ronaldo']

long_name      Cristiano Ronaldo dos Santos Aveiro
age                                             34
dob                                       2/5/1985
height_cm                                      187
weight_kg                                       83
nationality                               Portugal
club                                      Juventus
Name: Cristiano Ronaldo, dtype: object

In [11]:
#get the height of Cristiano
int(df.loc['Cristiano Ronaldo', 'height_cm'])

187

In [13]:
#get the weight of Cristiano
int(df.loc['Cristiano Ronaldo', 'weight_kg'])

83

In [14]:
#get all the rows inside the 'height_cm' column
df.loc[:, 'height_cm']

short_name
Cristiano Ronaldo    187
L. Messi             170
Neymar Jr            175
J. Oblak             188
E. Hazard            175
                    ...
Shao Shuai           186
Xiao Mingjie         177
Zhang Wei            186
Wang Haijian         185
Pan Ximing           182
Name: height_cm, Length: 18278, dtype: int64

In [15]:
#get all columns that corresponds to the index 'Cristiano Ronaldo'
df.loc['Cristiano Ronaldo', :]

long_name      Cristiano Ronaldo dos Santos Aveiro
age                                             34
dob                                       2/5/1985
height_cm                                      187
weight_kg                                       83
nationality                               Portugal
club                                      Juventus
Name: Cristiano Ronaldo, dtype: object

# 2 Selecting with a list of values

In [8]:
#get all data about Cristiano and Messi
df.loc[['Cristiano Ronaldo', 'L. Messi']]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,2/5/1985,187,83,Portugal,Juventus
L. Messi,Lionel Andrés Messi Cuccittini,32,6/24/1987,170,72,Argentina,FC Barcelona

In [11]:
#get the height of Cristiano and Messi
df.loc[['Cristiano Ronaldo', 'L. Messi'], 'height_cm']

short_name
Cristiano Ronaldo    187
L. Messi             170
Name: height_cm, dtype: int64

In [14]:
#get the height and weight of Cristiano
df.loc['Cristiano Ronaldo', ['height_cm', 'weight_kg']]

height_cm    187
weight_kg     83
Name: Cristiano Ronaldo, dtype: object

In [15]:
#get the height and weight of Cristiano and Messi
df.loc[['Cristiano Ronaldo', 'L. Messi'], ['height_cm', 'weight_kg']]

                   height_cm  weight_kg
short_name
Cristiano Ronaldo        187         83
L. Messi                 170         72

# 3 Selecting a range of data with slice
start:stop:step

In [17]:
#slice column labels
players = ['Cristiano Ronaldo', 'L. Messi']
df.loc[players, 'age':'club']

,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,
Cristiano Ronaldo,34,2/5/1985,187,83,Portugal,Juventus
L. Messi,32,6/24/1987,170,72,Argentina,FC Barcelona

In [24]:
#slice index Labels
columns = ['age', 'dob', 'height_cm', 'weight_kg']
#get top1 and top10 player name
df.index[:10]
df.loc['Cristiano Ronaldo':'M. Salah', columns]

                   age        dob  height_cm  weight_kg
short_name
Cristiano Ronaldo   34   2/5/1985        187         83
L. Messi            32  6/24/1987        170         72
Neymar Jr           27   2/5/1992        175         68
J. Oblak            26   1/7/1993        188         87
E. Hazard           28   1/7/1991        175         74
K. De Bruyne        28  6/28/1991        181         70
M. ter Stegen       27  4/30/1992        187         85
V. van Dijk         27   7/8/1991        193         92
L. Modric           33   9/9/1985        172         66
M. Salah            27  6/15/1992        175         71

# 4 Selecting with Conditions

In [27]:
#one condition: selecting player with height above 180 cm
columns = ['age', 'dob', 'height_cm', 'weight_kg']
df.loc[df['height_cm']>180, columns]

                   age        dob  height_cm  weight_kg
short_name
Cristiano Ronaldo   34   2/5/1985        187         83
J. Oblak            26   1/7/1993        188         87
K. De Bruyne        28  6/28/1991        181         70
M. ter Stegen       27  4/30/1992        187         85
V. van Dijk         27   7/8/1991        193         92
...                ...        ...        ...        ...
P. Martin           20   1/5/1999        188         84
Shao Shuai          22  3/10/1997        186         79
Zhang Wei           19  5/16/2000        186         75
Wang Haijian        18   8/2/2000        185         74
Pan Ximing          26  1/11/1993        182         78

[9744 rows x 4 columns]

In [31]:
#multiple condition: selecting player with height above 180 cm and from france
df.loc[(df['height_cm']>180) & (df['nationality']=='Portugal'), columns]

                   age        dob  height_cm  weight_kg
short_name
Cristiano Ronaldo   34   2/5/1985        187         83
A. Lopes            28  10/1/1990        184         81
João Cancelo        25  5/27/1994        182         74
Pepe                36  2/26/1983        188         81
William Carvalho    27   4/7/1992        187         83
...                ...        ...        ...        ...
João Pereira        29  5/10/1990        183         79
Rúben Fonseca       19  2/24/2000        188         82
Filipe Ferreira     21  2/25/1998        186         73
Wilson Carvalho     25   7/4/1993        183         77
Alexandre Pimenta   20   3/2/1999        184         75

[176 rows x 4 columns]