In [1]:
import pandas as pd

In [3]:
#read csv file
df = pd.read_csv('players_20.csv', encoding='latin1')
#set index
df.set_index('short_name', inplace=True)
#select columns
df = df[['long_name', 'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club']]

In [4]:
#show dataframe
df

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,2/5/1985,187,83,Portugal,Juventus
L. Messi,Lionel Andrés Messi Cuccittini,32,6/24/1987,170,72,Argentina,FC Barcelona
Neymar Jr,Neymar da Silva Santos Junior,27,2/5/1992,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1/7/1993,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1/7/1991,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,??,22,3/10/1997,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1/1/1997,177,66,China PR,Shanghai SIPG FC
Zhang Wei,??,19,5/16/2000,186,75,China PR,Hebei China Fortune FC
Wang Haijian,???,18,8/2/2000,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,???,26,1/11/1993,182,78,China PR,Hebei China Fortune FC

# 1 Selecting with a single value
iloc[row_position, column_position]

In [9]:
#get the height of Cristiano
df.iloc[0, 3]

np.int64(187)

In [10]:
#get the weight of Cristiano
df.iloc[0, 4]

np.int64(83)

In [12]:
#get all the rows inside the 'height_cm' column
df.iloc[:, 3]

short_name
Cristiano Ronaldo    187
L. Messi             170
Neymar Jr            175
J. Oblak             188
E. Hazard            175
                    ...
Shao Shuai           186
Xiao Mingjie         177
Zhang Wei            186
Wang Haijian         185
Pan Ximing           182
Name: height_cm, Length: 18278, dtype: int64

In [13]:
#get all the columns that corresponds to 'Cristiano'
df.iloc[0, :]

long_name      Cristiano Ronaldo dos Santos Aveiro
age                                             34
dob                                       2/5/1985
height_cm                                      187
weight_kg                                       83
nationality                               Portugal
club                                      Juventus
Name: Cristiano Ronaldo, dtype: object

# 2 Selecting with a list of values

In [18]:
#get all data about messi and Cristiano
df.iloc[[0, 1]]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,2/5/1985,187,83,Portugal,Juventus
L. Messi,Lionel Andrés Messi Cuccittini,32,6/24/1987,170,72,Argentina,FC Barcelona

In [22]:
#get the height of Cristiano and Messi
df.iloc[[0, 1], 3]

short_name
Cristiano Ronaldo    187
L. Messi             170
Name: height_cm, dtype: int64

In [23]:
#get the height and weight of Cristiano
df.iloc[[0], [3, 4]]

                   height_cm  weight_kg
short_name
Cristiano Ronaldo        187         83

In [24]:
#get the height and weight of Cristiano and Messi
df.iloc[[0, 1], [3, 4]]

                   height_cm  weight_kg
short_name
Cristiano Ronaldo        187         83
L. Messi                 170         72

# 3 Selecting a range of data with slice
start:stop:step

In [29]:
#slice column labels
df.iloc[[0, 1], 2 : 5]

                         dob  height_cm  weight_kg
short_name
Cristiano Ronaldo   2/5/1985        187         83
L. Messi           6/24/1987        170         72

In [30]:
#slice index Labels

#get top1 and top10 player name
df.index[:10]

Index(['Cristiano Ronaldo', 'L. Messi', 'Neymar Jr', 'J. Oblak', 'E. Hazard',
       'K. De Bruyne', 'M. ter Stegen', 'V. van Dijk', 'L. Modric',
       'M. Salah'],
      dtype='object', name='short_name')

In [31]:
df.iloc[0:10, 2:5]

                         dob  height_cm  weight_kg
short_name
Cristiano Ronaldo   2/5/1985        187         83
L. Messi           6/24/1987        170         72
Neymar Jr           2/5/1992        175         68
J. Oblak            1/7/1993        188         87
E. Hazard           1/7/1991        175         74
K. De Bruyne       6/28/1991        181         70
M. ter Stegen      4/30/1992        187         85
V. van Dijk         7/8/1991        193         92
L. Modric           9/9/1985        172         66
M. Salah           6/15/1992        175         71

# Selecting with Conditions

In [34]:
#one condition: selecting player with height above 180 cm
df.iloc[list(df['height_cm']>180)]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,2/5/1985,187,83,Portugal,Juventus
J. Oblak,Jan Oblak,26,1/7/1993,188,87,Slovenia,Atlético Madrid
K. De Bruyne,Kevin De Bruyne,28,6/28/1991,181,70,Belgium,Manchester City
M. ter Stegen,Marc-André ter Stegen,27,4/30/1992,187,85,Germany,FC Barcelona
V. van Dijk,Virgil van Dijk,27,7/8/1991,193,92,Netherlands,Liverpool
...,...,...,...,...,...,...,...
P. Martin,Paul Martin,20,1/5/1999,188,84,Republic of Ireland,Waterford FC
Shao Shuai,??,22,3/10/1997,186,79,China PR,Beijing Renhe FC
Zhang Wei,??,19,5/16/2000,186,75,China PR,Hebei China Fortune FC
Wang Haijian,???,18,8/2/2000,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,???,26,1/11/1993,182,78,China PR,Hebei China Fortune FC

In [46]:
#multiple condition: selecting player with height above 180 cm and from france
df.iloc[list((df['height_cm']>180) & (df['nationality'] == 'France')), :]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
P. Pogba,Paul Pogba,26,3/15/1993,191,84,France,Manchester United
H. Lloris,Hugo Lloris,32,12/26/1986,188,82,France,Tottenham Hotspur
A. Laporte,Aymeric Laporte,25,5/27/1994,189,85,France,Manchester City
K. Benzema,Karim Benzema,31,12/19/1987,185,81,France,Real Madrid
S. Umtiti,Samuel Umtiti,25,11/14/1993,182,75,France,FC Barcelona
...,...,...,...,...,...,...,...
F. Bloch,Florentin Bloch,19,2/2/2000,190,78,France,Toulouse Football Club
N. Gourmat,Nacim Gourmat,21,1/15/1998,183,67,France,Grenoble Foot 38
W. Aouachria,Wassim Aouachria,19,5/12/2000,188,75,France,Charlton Athletic
L. Marsella,Lucas Marsella,19,1/11/2000,182,72,France,AC Ajaccio
T. Callens,Thomas Callens,20,9/6/1998,182,81,France,Stade Malherbe Caen