In [1]:
import pandas as pd

In [32]:
#read csv file
df = pd.read_csv('players_20.csv', encoding='latin1')
#set index
df.set_index('short_name', inplace=True)
#select columns
df = df[['long_name', 'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club']]

In [3]:
#show dataframe
df

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,2/5/1985,187,83,Portugal,Juventus
L. Messi,Lionel Andrés Messi Cuccittini,32,6/24/1987,170,72,Argentina,FC Barcelona
Neymar Jr,Neymar da Silva Santos Junior,27,2/5/1992,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1/7/1993,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1/7/1991,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,??,22,3/10/1997,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1/1/1997,177,66,China PR,Shanghai SIPG FC
Zhang Wei,??,19,5/16/2000,186,75,China PR,Hebei China Fortune FC
Wang Haijian,???,18,8/2/2000,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,???,26,1/11/1993,182,78,China PR,Hebei China Fortune FC

# 1 Set Value to one cell

In [8]:
#update Cristiano height
df.loc['Cristiano Ronaldo', 'height_cm'] = 185

In [9]:
#show dataframe
df

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,2/5/1985,185,83,Portugal,Juventus
L. Messi,Lionel Andrés Messi Cuccittini,32,6/24/1987,170,72,Argentina,FC Barcelona
Neymar Jr,Neymar da Silva Santos Junior,27,2/5/1992,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1/7/1993,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1/7/1991,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,??,22,3/10/1997,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1/1/1997,177,66,China PR,Shanghai SIPG FC
Zhang Wei,??,19,5/16/2000,186,75,China PR,Hebei China Fortune FC
Wang Haijian,???,18,8/2/2000,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,???,26,1/11/1993,182,78,China PR,Hebei China Fortune FC

# 2 Set value to entire column

In [33]:
#set height of all players to 190
df.loc[:, 'height_cm'] = 185

In [34]:
#show dataframe
df

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,2/5/1985,185,83,Portugal,Juventus
L. Messi,Lionel Andrés Messi Cuccittini,32,6/24/1987,185,72,Argentina,FC Barcelona
Neymar Jr,Neymar da Silva Santos Junior,27,2/5/1992,185,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1/7/1993,185,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1/7/1991,185,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,??,22,3/10/1997,185,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1/1/1997,185,66,China PR,Shanghai SIPG FC
Zhang Wei,??,19,5/16/2000,185,75,China PR,Hebei China Fortune FC
Wang Haijian,???,18,8/2/2000,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,???,26,1/11/1993,185,78,China PR,Hebei China Fortune FC

# 3 set value to entire row

In [13]:
#get all columns correspond to player ranked last in fifa
df.iloc[-1, :]

long_name                         ???
age                                26
dob                         1/11/1993
height_cm                         185
weight_kg                          78
nationality                  China PR
club           Hebei China Fortune FC
Name: Pan Ximing, dtype: object

In [14]:
#set null values to all columns that corresponds to player ranked last
import numpy as np
df.iloc[-1, :] = np.nan

In [15]:
#show dataframe
df

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34.0,2/5/1985,185.0,83.0,Portugal,Juventus
L. Messi,Lionel Andrés Messi Cuccittini,32.0,6/24/1987,185.0,72.0,Argentina,FC Barcelona
Neymar Jr,Neymar da Silva Santos Junior,27.0,2/5/1992,185.0,68.0,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26.0,1/7/1993,185.0,87.0,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28.0,1/7/1991,185.0,74.0,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,??,22.0,3/10/1997,185.0,79.0,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22.0,1/1/1997,185.0,66.0,China PR,Shanghai SIPG FC
Zhang Wei,??,19.0,5/16/2000,185.0,75.0,China PR,Hebei China Fortune FC
Wang Haijian,???,18.0,8/2/2000,185.0,74.0,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 4 Set value to multiple cells

In [35]:
#set value for all items matching the list of labels
df.loc[['Cristiano Ronaldo', 'L. Messi'], 'height_cm'] = 170

In [19]:
#show dataframe
df

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34.0,2/5/1985,170.0,83.0,Portugal,Juventus
L. Messi,Lionel Andrés Messi Cuccittini,32.0,6/24/1987,170.0,72.0,Argentina,FC Barcelona
Neymar Jr,Neymar da Silva Santos Junior,27.0,2/5/1992,185.0,68.0,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26.0,1/7/1993,185.0,87.0,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28.0,1/7/1991,185.0,74.0,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,??,22.0,3/10/1997,185.0,79.0,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22.0,1/1/1997,185.0,66.0,China PR,Shanghai SIPG FC
Zhang Wei,??,19.0,5/16/2000,185.0,75.0,China PR,Hebei China Fortune FC
Wang Haijian,???,18.0,8/2/2000,185.0,74.0,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 5 Set value for rows matching a condition

In [37]:
#set value for rows matching a condition
df.loc[df['height_cm']>180, :] = 0

In [38]:
#show dataframe
df

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,2/5/1985,170,83,Portugal,Juventus
L. Messi,Lionel Andrés Messi Cuccittini,32,6/24/1987,170,72,Argentina,FC Barcelona
Neymar Jr,0,0,0,0,0,0,0
J. Oblak,0,0,0,0,0,0,0
E. Hazard,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...
Shao Shuai,0,0,0,0,0,0,0
Xiao Mingjie,0,0,0,0,0,0,0
Zhang Wei,0,0,0,0,0,0,0
Wang Haijian,0,0,0,0,0,0,0
Pan Ximing,0,0,0,0,0,0,0