In [1]:
import pandas as pd

In [3]:
#reads csv file
df = pd.read_csv('players_20.csv', encoding='latin1')
#set index
df.set_index('short_name', inplace=True)
#select column
df = df[['long_name', 'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club']]

In [4]:
#show dataframe
df

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,2/5/1985,187,83,Portugal,Juventus
L. Messi,Lionel Andrés Messi Cuccittini,32,6/24/1987,170,72,Argentina,FC Barcelona
Neymar Jr,Neymar da Silva Santos Junior,27,2/5/1992,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1/7/1993,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1/7/1991,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,??,22,3/10/1997,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1/1/1997,177,66,China PR,Shanghai SIPG FC
Zhang Wei,??,19,5/16/2000,186,75,China PR,Hebei China Fortune FC
Wang Haijian,???,18,8/2/2000,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,???,26,1/11/1993,182,78,China PR,Hebei China Fortune FC

# 1 Drop row

In [8]:
#drop one row
#axis parameter
df.drop('L. Messi', axis=0)
#index parameter
df.drop(index=['L. Messi'])

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,2/5/1985,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,2/5/1992,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1/7/1993,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1/7/1991,175,74,Belgium,Real Madrid
K. De Bruyne,Kevin De Bruyne,28,6/28/1991,181,70,Belgium,Manchester City
...,...,...,...,...,...,...,...
Shao Shuai,??,22,3/10/1997,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1/1/1997,177,66,China PR,Shanghai SIPG FC
Zhang Wei,??,19,5/16/2000,186,75,China PR,Hebei China Fortune FC
Wang Haijian,???,18,8/2/2000,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,???,26,1/11/1993,182,78,China PR,Hebei China Fortune FC

In [13]:
#drop two or more rows and update date(inplace=True)
df.drop(df.index[1:4], inplace=True)

In [14]:
df

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,2/5/1985,187,83,Portugal,Juventus
E. Hazard,Eden Hazard,28,1/7/1991,175,74,Belgium,Real Madrid
K. De Bruyne,Kevin De Bruyne,28,6/28/1991,181,70,Belgium,Manchester City
M. ter Stegen,Marc-André ter Stegen,27,4/30/1992,187,85,Germany,FC Barcelona
V. van Dijk,Virgil van Dijk,27,7/8/1991,193,92,Netherlands,Liverpool
...,...,...,...,...,...,...,...
Shao Shuai,??,22,3/10/1997,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1/1/1997,177,66,China PR,Shanghai SIPG FC
Zhang Wei,??,19,5/16/2000,186,75,China PR,Hebei China Fortune FC
Wang Haijian,???,18,8/2/2000,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,???,26,1/11/1993,182,78,China PR,Hebei China Fortune FC

# 2 Drop columns

In [16]:
#drop one column
#axis parameter
df.drop('dob', axis=1)
#index parameter
df.drop(columns='dob')

,long_name,age,height_cm,weight_kg,nationality,club
short_name,,,,,,
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,187,83,Portugal,Juventus
E. Hazard,Eden Hazard,28,175,74,Belgium,Real Madrid
K. De Bruyne,Kevin De Bruyne,28,181,70,Belgium,Manchester City
M. ter Stegen,Marc-André ter Stegen,27,187,85,Germany,FC Barcelona
V. van Dijk,Virgil van Dijk,27,193,92,Netherlands,Liverpool
...,...,...,...,...,...,...
Shao Shuai,??,22,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,177,66,China PR,Shanghai SIPG FC
Zhang Wei,??,19,186,75,China PR,Hebei China Fortune FC
Wang Haijian,???,18,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,???,26,182,78,China PR,Hebei China Fortune FC

In [19]:
#drop two or more rows and update date(inplace=True)
df.drop(['long_name', 'age'], axis = 1, inplace=True)

In [20]:
df

,dob,height_cm,weight_kg,nationality,club
short_name,,,,,
Cristiano Ronaldo,2/5/1985,187,83,Portugal,Juventus
E. Hazard,1/7/1991,175,74,Belgium,Real Madrid
K. De Bruyne,6/28/1991,181,70,Belgium,Manchester City
M. ter Stegen,4/30/1992,187,85,Germany,FC Barcelona
V. van Dijk,7/8/1991,193,92,Netherlands,Liverpool
...,...,...,...,...,...
Shao Shuai,3/10/1997,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,1/1/1997,177,66,China PR,Shanghai SIPG FC
Zhang Wei,5/16/2000,186,75,China PR,Hebei China Fortune FC
Wang Haijian,8/2/2000,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,1/11/1993,182,78,China PR,Hebei China Fortune FC