In [4]:
import pandas as pd

In [5]:
#reads csv file
df = pd.read_csv('players_20.csv', encoding='latin1')
#set index
df.set_index('short_name', inplace=True)
#select column
df = df[['long_name', 'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club']]

In [6]:
#show dataframe
df

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,2/5/1985,187,83,Portugal,Juventus
L. Messi,Lionel Andrés Messi Cuccittini,32,6/24/1987,170,72,Argentina,FC Barcelona
Neymar Jr,Neymar da Silva Santos Junior,27,2/5/1992,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1/7/1993,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1/7/1991,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,??,22,3/10/1997,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1/1/1997,177,66,China PR,Shanghai SIPG FC
Zhang Wei,??,19,5/16/2000,186,75,China PR,Hebei China Fortune FC
Wang Haijian,???,18,8/2/2000,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,???,26,1/11/1993,182,78,China PR,Hebei China Fortune FC

# 1 sample()

In [9]:
#extract 10 random elements from the 'nationality' column
df['nationality'].sample(10, random_state=4)

short_name
M. Burruchaga    Argentina
F. Oswald          Germany
K. Sheppard        England
P. Sontheimer      Germany
H. Nilsson          Sweden
M. Moscati           Italy
Adrián López         Spain
L. Burge           England
A. Smith           England
S. Pabón          Colombia
Name: nationality, dtype: object

In [12]:
#extract a random 20% sample of the dataframe
df.sample(frac=.2, random_state=20)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
N. Onuoha,Chinedum Onuoha,32,11/12/1986,188,78,England,Real Salt Lake
J. Breitez,Jorge Breitez,33,8/18/1985,174,71,Ecuador,Ecuador
M. Martic,Manuel Martic,23,8/15/1995,189,81,Austria,SK Rapid Wien
C. Carlsson,Christoffer Carlsson,30,1/15/1989,172,73,Sweden,Falkenbergs FF
Yang Wanshun,???,23,1/16/1996,178,75,China PR,Tianjin TEDA FC
...,...,...,...,...,...,...,...
R. Strachan,Rob Strachan,18,11/1/2000,180,70,England,Millwall
Carvamelinho,Samuel Thomas Carvalho Melo,35,2/29/1984,178,75,Brazil,Grêmio
B. Al Ahbabi,Bandar Al Ahbabi,28,7/9/1990,169,62,United Arab Emirates,Al Ain FC
Pablo Pérez,Pablo Pérez Rodríguez,25,8/2/1993,188,79,Spain,Real Sporting de Gijón
Wang Weilong,Weilong Wang,31,2/24/1988,186,80,China PR,Shenzhen FC

In [14]:
#upsample: increase the sampling rate -> frac>1 (Note: replacement parameter)
df.sample(frac=2, replace=True)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
I. Pop,Ionu? Pop,21,8/1/1997,190,80,Romania,FC Hermannstadt
Kim Tae Hwan,??? ???,29,7/24/1989,180,72,Korea Republic,Ulsan Hyundai FC
L. Agbenyenu,Lumor Agbenyenu,22,8/10/1996,175,70,Ghana,RCD Mallorca
Y. Tolosa,Yeison Tolosa,20,6/12/1999,170,68,Colombia,Deportivo Cali
A. Barberis,Andrea Barberis,25,12/11/1993,177,72,Italy,Crotone
...,...,...,...,...,...,...,...
S. Al Sawadi,Sultan Ali Al Sawadi,26,12/14/1992,172,63,Saudi Arabia,Al Raed
B. Maher,Brian Maher,18,11/1/2000,185,78,Republic of Ireland,St. Patrick's Athletic
Han Hee Hoon,??? ???,28,8/10/1990,183,78,Korea Republic,Daegu FC
Thiago Santana,Thiago Santos Santana,26,2/4/1993,184,79,Brazil,Santa Clara
A. Babacan,Atalay Babacan,19,6/28/2000,174,70,Turkey,Galatasaray SK