In [5]:
import pandas as pd

In [6]:
#reads csv file
df = pd.read_csv('players_20.csv', encoding='latin1')
#set index
df.set_index('short_name', inplace=True)
#select column
df = df[['long_name', 'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club']]

In [7]:
#show dataframe
df

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,2/5/1985,187,83,Portugal,Juventus
L. Messi,Lionel Andrés Messi Cuccittini,32,6/24/1987,170,72,Argentina,FC Barcelona
Neymar Jr,Neymar da Silva Santos Junior,27,2/5/1992,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1/7/1993,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1/7/1991,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,??,22,3/10/1997,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1/1/1997,177,66,China PR,Shanghai SIPG FC
Zhang Wei,??,19,5/16/2000,186,75,China PR,Hebei China Fortune FC
Wang Haijian,???,18,8/2/2000,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,???,26,1/11/1993,182,78,China PR,Hebei China Fortune FC

# 1 lambda function

In [8]:
#basic function
def sum_values(a, b):
    x = a+b
    return x

In [5]:
sum_values(2, 4)

6

In [6]:
#lambda function
sum_values = lambda a,b:a+b

In [9]:
sum_values(2, 3)

5

# 2 Apply + Lambda function

In [9]:
#use lambda function to convert 'height_cm' to meters
df['height_cm'].apply(lambda x:x/100)
#alternative
df['height_cm']/100

short_name
Cristiano Ronaldo    1.87
L. Messi             1.70
Neymar Jr            1.75
J. Oblak             1.88
E. Hazard            1.75
                     ...
Shao Shuai           1.86
Xiao Mingjie         1.77
Zhang Wei            1.86
Wang Haijian         1.85
Pan Ximing           1.82
Name: height_cm, Length: 18278, dtype: float64

In [12]:
#use lambda function to convert 'long name' series to upper case
df['long_name'].apply(lambda x:x.upper())
#alternative with str attribute
df['long_name'].str.upper()

short_name
Cristiano Ronaldo    CRISTIANO RONALDO DOS SANTOS AVEIRO
L. Messi                  LIONEL ANDRÉS MESSI CUCCITTINI
Neymar Jr                  NEYMAR DA SILVA SANTOS JUNIOR
J. Oblak                                       JAN OBLAK
E. Hazard                                    EDEN HAZARD
                                    ...
Shao Shuai                                            ??
Xiao Mingjie                                MINGJIE XIAO
Zhang Wei                                             ??
Wang Haijian                                         ???
Pan Ximing                                           ???
Name: long_name, Length: 18278, dtype: object

In [16]:
df['dob'] = df['dob'].astype('datetime64[ns]')
#use lambda function to get the year of 'dob' series
df['dob'].apply(lambda x:x.year)
#alternative with dt attribute
df['dob'].dt.year

short_name
Cristiano Ronaldo    1985
L. Messi             1987
Neymar Jr            1992
J. Oblak             1993
E. Hazard            1991
                     ...
Shao Shuai           1997
Xiao Mingjie         1997
Zhang Wei            2000
Wang Haijian         2000
Pan Ximing           1993
Name: dob, Length: 18278, dtype: int32

In [18]:
#apply lambda function to dataframe in order to calculate bmi
lambda x:x['weight_kg']/((x['height_cm'])**2)
df.apply(lambda x:x['weight_kg']/((x['height_cm']/100)**2), axis=1)

short_name
Cristiano Ronaldo    23.735308
L. Messi             24.913495
Neymar Jr            22.204082
J. Oblak             24.615211
E. Hazard            24.163265
                       ...
Shao Shuai           22.835010
Xiao Mingjie         21.066743
Zhang Wei            21.678807
Wang Haijian         21.621622
Pan Ximing           23.547881
Length: 18278, dtype: float64