In [1]:
import pandas as pd

In [7]:
#reading the csv file
df = pd.read_csv('population_total.csv')

In [8]:
#first look at the dataset
df

            country    year    population
0             China  2020.0  1.439324e+09
1             China  2019.0  1.433784e+09
2             China  2018.0  1.427648e+09
3             China  2017.0  1.421022e+09
4             China  2016.0  1.414049e+09
...             ...     ...           ...
4180  United States  1965.0  1.997337e+08
4181  United States  1960.0  1.867206e+08
4182  United States  1955.0  1.716853e+08
4183          India  1960.0  4.505477e+08
4184          India  1955.0  4.098806e+08

[4185 rows x 3 columns]

# 1 Making a Pivot table
.pivot():Without aggregation

In [11]:
#dropping null values
df.dropna(inplace=True)

In [13]:
#making a pivot table
df = df.pivot(index='year', columns='country', values='population')

In [15]:
#selecting some countries
df = df[['Bangladesh', 'United States', 'China', 'Indonesia']]

In [16]:
#showing pivot table
df

country   Bangladesh  United States         China    Indonesia
year
1955.0    42086301.0    171685336.0  6.122416e+08   77273425.0
1960.0    48013504.0    186720571.0  6.604081e+08   87751068.0
1965.0    55385112.0    199733676.0  7.242190e+08  100267062.0
1970.0    64232482.0    209513341.0  8.276014e+08  114793178.0
1975.0    70066301.0    219081251.0  9.262409e+08  130680727.0
1980.0    79639491.0    229476354.0  1.000089e+09  147447836.0
1985.0    90764183.0    240499825.0  1.075589e+09  164982451.0
1990.0   103171956.0    252120309.0  1.176884e+09  181413402.0
1995.0   115169930.0    265163745.0  1.240921e+09  196934260.0
2000.0   127657854.0    281710909.0  1.290551e+09  211513823.0
2005.0   139035505.0    294993511.0  1.330776e+09  226289470.0
2010.0   147575430.0    309011475.0  1.368811e+09  241834215.0
2015.0   156256276.0    320878310.0  1.406848e+09  258383256.0
2016.0   157977153.0    323015995.0  1.414049e+09  261556381.0
2017.0   159685424.0    325084756.0  1.421022e+09  264650963.0
2018.0   161376708.0    327096265.0  1.427648e+09  267670543.0
2019.0   163046161.0    329064917.0  1.433784e+09  270625568.0
2020.0   164689383.0    331002651.0  1.439324e+09  273523615.0